body, #app, .main {
  background-color: pink;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-family: "Courier New", Times, serif;
}

.game {
  margin-top: 30px;
  width: 90%;
  height: 430px;
  max-height: 50%;
  white-space: nowrap;
  overflow: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.board {
  cursor: pointer;
  margin-top: 0;
}

.row {
  height: 10px;
  padding: 0;
  margin: 0;
}

.cell {
  width: 10px;
  height: 100%;
  display: inline-block;
  border: 0.5px solid pink;
  cursor: pointer;
}

.cell:hover {
  background-color: turquoise;
}

.controls {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helperText {
  color: #ff4766;
  background-color: hsla(348, 100%, 95%, 0.4);
  padding: 5px;

}

.container_buttons {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  color: #ffe5ea;
  outline: none;
  background-color: #f15f78;
  box-shadow: none;
  height: 40px;
  width: 70px;
  border: 0;
  cursor: pointer;
  font-family: "Courier New", Times, serif;
  font-size: 1.1em;
}

.controls_next, .controls_back {
  color: #ffe5ea;
  background-color: #f15f78;
}

.controls_next:active, .controls_next:hover {
  background-color: #ff4766;
}

.controls_back:hover, .controls_back:active {
  background-color: hsla(348, 100%, 95%, 0.4);
}

.details {
  margin: 30px auto 30px auto;
  color: #ff4766;
  background-color: hsla(348, 100%, 95%, 0.4);
  padding: 20px 20px 50px 20px;
  text-align: center;
}

.details li {
  text-align: left;
}

a, a:hover, a:active, a:visited {
  color: #ff4766;
}
